@model IEnumerable<TrainTicketReservation.Models.Train>

@{
    Layout = "~/Views/Shared/Login.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ACTier_3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ACTier_2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ACTier_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SLAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SSAvailable)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ACTier_3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ACTier_2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ACTier_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SLAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SSAvailable)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TrainNo }) |
                @Html.ActionLink("Details", "Details", new { id=item.TrainNo }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.TrainNo })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
