@{
    ViewBag.Title = "Home Page";
}
@using TrainTicketReservation.Models
@model RouteDetails
<style>
    #Indexbody {
        background-color: darkblue;
        width: 100%;
        height: 300px;
    }
</style>
<body>
    <div id="Indexbody">

        <div class="container">
            <div class="card" style="width:600px;border-bottom:5px solid black;position:relative;top:100px;left:250px;background-color:white;border-radius:20px;">
                <div class="card-header text-center text-success">Book your ticket easily at our website</div>
            </div>
            
        </div>
        <div class="container">
            <div class="card" style="position:relative;top:100px;border:5px solid white;background-color:white;border-radius:10px;width:800px;left:100px;height:100px;">
                <p></p>
                <p></p>

                @using (Html.BeginForm())
                {



                    @Html.Label("Source")
                    @Html.DropDownListFor(m => m.Source, new SelectList(Enum.GetValues(typeof(place))), "Choose...", new { style = "width:150px;" })

                    @Html.Label("Destination", new { style = "position:relative;left:10px;" })
                    @Html.DropDownListFor(m => m.Destination, new SelectList(Enum.GetValues(typeof(place))), "Choose....", new { style = "width:150px;position:relative;left:10px;" })
                    @Html.Label("Date", new { style = "position:relative;left:50px;" })
                    <input type="date" style="position:relative;left:60px;" /><br />
                    <input type="submit" class=" btn btn-primary" style="position:relative;left:300px;top:10px;" value="Search" />



                }
            </div>
        </div>
        <div></div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card" style="width:500px;height:250px;">
                <h3>Book Train Tickets Without Any Hassle</h3>
                <p>Traveling by train is a popular choice for both short commutes and longer journeys, and for a good reason. With over a thousand routes connecting cities in India, traveling by train is the most convenient mode of travel. The combination of price, convenience, and speed makes train travel a sweet spot for discerning travelers. Travelers can now search routes, check fares and book train tickets with TrainTicketReservation’s train booking system. Moreover, you can also use the TrainTicketReservation’s app for easy access to train tickets booking. Planning a trip across India should be fun and easy. That’s why, TrainTicketReservation guarantees a hassle-free booking process for booking your train tickets. You can have your train tickets book on TrainTicketReservation from the comfort of your homes.</p>
                <div class="card" style="width:500px;height:300px;position:relative;left:600px;top:-250px;">
                    <h3>Easy IRCTC Train Booking</h3>
                    <p>Indian Railways is among the world’s largest rail networks with an operating route length of more than 65,000 km. IRCTC (Indian Railway Catering and Tourism Corporation) is the face of India's online train tickets booking system. TrainTicketReservation is the leading portal for booking IRCTC train tickets online which is offering the most convenient ways to book train tickets, check train schedule, train availability, and view live train status. IRCTC has been the most used website for train tickets booking...</p>
                </div>
            </div>

        </div>
        
        <hr />
        <div class="card" style="height:350px;">
            <div class="card" style="width:500px;">
                <h3>Step-by-step Guide to Online Train Ticket Booking with TrainTicketReservation</h3>

                <p>Having confusion on how to book your train tickets online? process of booking your tickets in simple easy steps.</p>
                <p>Step1:Enter the Source,Destination and Date then click Search</p>
                <p>Step2:Log onto your details or if you are new user go to sign up enter the valid details</p>
                <p>Step3:Choose the approprite ticket available train</p>
                <p>Step4:Enter the passenger Details</p>
                <p>Step5:Go for payment </p>
                <p>Step6:After Successfull payment your Ticket Details will be displayed</p>
                <p>Step7:Enjoy with our application</p>
            </div>
            <div class="card" style="width:500px;position:relative;left:600px;top:-350px;">
                <h3>Why should you book Train Tickets with TrainTicketReservation</h3>
                <p>
                    TrainTicketReservation can provide you the most reliable and secure way of train booking and all you need to do is plan your itinerary. The portal provides a user-friendly experience to our customers. Instead of waiting or queueing up in lines for hours to book a train ticket, you can visit the website. The train tickets online booking system of TrainTicketReservation allow you to book your travel package from anywhere. All you need to do is enter your IRCTC login detail and you have all the information you need.
                    Getting a train ticket has never been so easy. You not only get to book train tickets but also get help for resolving any queries you might have. With online train booking, you can now easily check train availability and book according to your requirement. You can also check the status of a live train and train schedule, train routes, train fares, waitlist status, and seat availability. Furthermore, you will also get all the updated information on the type of seats and classes of trains that are available to book. You may also add up your preferred meals while booking your ticket.
                </p>
            </div>
        </div>
    </div>
</body>
